<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/style.css" rel="stylesheet" type="text/css">
    <h1>OAuth Login Page</h1>
    <title>OAuth Login Page</title>
</head>

<body>
<form action="/api/auth/email" method="POST">
<input name="email" type="text">
    <button type="submit">Send</button>
</form>
</body>

</html>